
.container{
    display: grid;
    background-color:white;
    grid-template-columns:repeat(5,auto);
    grid-template-rows: 100px 300px 300px 100px;
    

}
.item{
    background-color: aliceblue;
    font-size: 16px;
    font-weight: 500;
    
}
 #header{
grid-column: 1/ span 5;
background-color: rgb(226, 224, 224);
margin-bottom:10px;

} 
#footer{
    grid-area:4/1/5/span 5;
    background-color: rgb(226, 224, 224);
    margin-top: 10px;
} 

#a{
    background-color:rgb(236, 12, 61) ;
    grid-row-start: 2;
    grid-area: 2/1/3/span 4;
}
#b{
    background-color: rgb(207, 156, 44);
    grid-row-start: 3;
    grid-area: 3/1/4/span 4;
}

#c{
    background-color: yellow;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-area: 2/5/span 2/6;
}
/*Iphone SE*/
@media (max-width: 375px){
    .container{
        grid-template-columns: repeat(6,auto);
        grid-template-rows: 50px repeat(3,185px) 50px;
    }
    .item{
        font-size: 18px;
    }
    #a{
        grid-row-start: 2;
    grid-area: 2/1/4/span 6;
    }
    #b{
        grid-area: 3/1/5/span 6;
    }
    #c{
        grid-area: 4/1/5/span 6;
    }
    #header{
        grid-area: 1/1/2/ span 6;
    }
    #footer{
        grid-area: 5/1/6/span 6;
    }
}

/*Ipad or Ipad mini*/
@media (min-width:376px) and (max-width:768px){
    .container{

        grid-template-columns: repeat(6,auto);
        grid-template-rows: 50px repeat(2,430px) 50px;
    }
    .item{
        font-size: 30px;
        font-weight: 00;
    }
   #header{
    grid-area: 1/1/2/span 6;
   }
   #a{
    grid-area: 2/1/5/span 3;
   }
   #b{
    grid-area: 3/1/5/span 3;
   }
   #c{
    grid-area: 2/4/ span 3/ span 3;
   }
   #footer{
    grid-area: 5/1/5/span 6;
    margin-top: 10px;
   }
}
